@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: 'Courier New', Courier, monospace;

  --text: #2505fd;
  --background: #fff;
  --primary: #d0c5af;
  --secondary: #fad46d;
  --accent: #a5fa51;

  box-sizing: border-box;

}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display";
  font-weight: 800;
  font-style: italic;
  margin:0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3.5em;
}

hr {
  border: none;
  border-top: medium double var(--text);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text)

}

header {
  max-width: 90%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 90%;
  max-height: 50vh;
  margin: 0 auto;
  gap: 1em;

}

.card {
  background-color: var(--secondary);
  padding: 1em;
}

.card-title {
  position: absolute;
}


.accent {
  background-color: var(--accent);
}

.text-sideways {
  font-size: 4em;
  text-orientation: sideways;
  writing-mode: vertical-rl;
  text-align: center;
  text-shadow: #fcac89 8px -8px 0;
}

.diary {
  background-image: url(https://media.istockphoto.com/id/165958565/vector/vector-illustrations-of-lined-paper-with-texture.jpg?s=612x612&w=0&k=20&c=wxRBepYH3b_C3QEWRKO2ttcCAGIyIcJku2TO955AHL0=);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 85px;
  overflow-y: scroll;
}

#diary {
  overflow-y: scroll;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
}

.tag {
  background-color: var(--accent);
  padding: 0.25em;
  border-radius: 1em;
}

.tab-content {
  display: none;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out;
  max-height: 100%;
}

.tab-content.active {
  display: block;
  opacity: 1
}

.button {
  font-size: 1rem;
  padding: 0.5em;
  background-color: var(--background);
  border: 0;
  margin: 0.2em;
  cursor: pointer;
  font-family: inherit;
}

.primary {
  background-color: var(--primary);
}

/* about section */

.about__inner {
  display: flex;
  gap: 1em;
}

.about__image {
  background-image: url(https://cdn.discordapp.com/attachments/859729768077066300/1073382576540094525/Untitled_Artwork.png?ex=65d7d66c&is=65c5616c&hm=9429f10bffc4c815c0430a3c986892ccc48bc663c3917edbcab50d079bbf5292&);
  background-size: cover;
  filter: sepia(100%);
  /* mix-blend-mode: darken; */
  width: 200px;
  height: 200px;
}

.tab-control, #tabs {
  box-shadow: rgba(0,0,0,0.3) -5px 5px 5px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media(min-width: 50em) {
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    gap: 1em;

  }

  .container {
    height: 400px;
    width: 700px;
    margin: 5em auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
  }

  #tabs {
    height: 100%;
    z-index: 10;
    padding: 1em;
  }

  .tab-buttons__side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .tab-control {
    padding: 2em 0.5em;
    padding-left: 10px;
    margin-left: -5px;
    border-radius: 0 2em 2em 0;
    width: 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: rotate(3deg);
    z-index: 1;
  }

  .tab-control:hover {
    width: 110px;
    padding-left: 20px
  }

  .card {
    max-height: 100%;
  }

  .primary {
    background-color: var(--primary);
  }


}
